In [2]:
import pandas as pd
import os

# Prepare the hkl file for McStas for OpenHKL

## Convert lau to hkl format for single_crystal comp

In [ ]:
fpath = r'D:\5_Instrument\0_POLI\3_Projects\4_Mcstas'
fname = 'CaF2.lau'
skiplines = 35 # remember to remove the '#' in the header line before 'H'
col = '|Fc|^2'

fname = 'YBaCuO.lau'
skiplines = 24 # remember to remove the '#' in the header line before 'H'
col = 'F-squared'

df = pd.read_table(os.path.join(fpath, fname),skiprows=skiplines,delim_whitespace=True)  
display(df)
df['Duplicate'] = df.loc[:, col]
display(df)
with open(os.path.join(fpath, fname).replace('lau','hkl'), 'a') as f:
    f.write(df.to_string(header=True, index=False))

## Convert Mag2Pol hkl format for single_crystal comp

In [8]:
fpath = r'D:\5_Instrument\0_POLI\3_Projects\4_Mcstas'
fname = 'HoAgGe.hkl'
skiplines = 9 # remember to remove the '!' in the header line before 'H'
col = 'Fn'

df = pd.read_table(os.path.join(fpath, fname),skiprows=skiplines,usecols=range(8), delim_whitespace=True)  
display(df)

df.drop(axis=1,labels=['q','α'],inplace=True)
df['Fn2'] = df.loc[:, 'Fn']**2*100 # barn to fm^2
display(df)

with open(os.path.join(fpath, fname).replace('.hkl','1.hkl'), 'a') as f:
    f.write(df.to_string(header=True, index=False))

       h  k  l  q      Q  sinθ/λ       α    Fn
0     -1  0  0  !   1.02    0.08   90.00  0.32
1     -1  1  0  !   1.02    0.08   90.00  0.32
2      0 -1  0  !   1.02    0.08   90.00  0.32
3      0  1  0  !   1.02    0.08   90.00  0.32
4      1 -1  0  !   1.02    0.08   90.00  0.32
...   .. .. .. ..    ...     ...     ...   ...
5861   9 -8  6  !  12.55    1.00   44.17  2.14
5862   9 -1 -6  !  12.55    1.00  135.83  2.14
5863   9 -1  6  !  12.55    1.00   44.17  2.14
5864  11  2 -1  !  12.50    1.00   96.89  3.60
5865  11  2  1  !  12.50    1.00   83.11  3.60

[5866 rows x 8 columns]

       h  k  l      Q  sinθ/λ    Fn      Fn2
0     -1  0  0   1.02    0.08  0.32    10.24
1     -1  1  0   1.02    0.08  0.32    10.24
2      0 -1  0   1.02    0.08  0.32    10.24
3      0  1  0   1.02    0.08  0.32    10.24
4      1 -1  0   1.02    0.08  0.32    10.24
...   .. .. ..    ...     ...   ...      ...
5861   9 -8  6  12.55    1.00  2.14   457.96
5862   9 -1 -6  12.55    1.00  2.14   457.96
5863   9 -1  6  12.55    1.00  2.14   457.96
5864  11  2 -1  12.50    1.00  3.60  1296.00
5865  11  2  1  12.50    1.00  3.60  1296.00

[5866 rows x 7 columns]

: